{% block meta %}
<title>Create Task</title>
{% endblock %}

<html>
    <body>
        <style>
            {
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100% 100%;
            }

            button {
                background-color: dimgray;
                color: white;
            }
        </style>
        <div style="text-align: center;">
            <br>
            <h1> Mile Calculator </h1>
            <h2 style="font-size: 20px"> To use the run calculator, navigate towards each day of the week, and choose how much you run per day.</h2>
            <br>
            <div class="row">
                <div class="col-sm">
                    <p style="font-size: 30px"> Monday </p>
                    <select name="monday" id="Monday">
                        <option value=" 0.5">Half Mile</option>
                        <option value=" 1">One Mile</option>
                        <option value=" 2">Two Mile</option>
                        <option value=" 3.1">5K</option>
                        <option value=" 6.2">10K</option>
                        <option value=" 10">Ten Mile</option>
                        <option value=" 13.1">Half Marathon</option>
                        <option value=" 26.2">Marathon</option>
                    </select>
                    <button onclick="addM()">Add a run</button>
                    <button onclick="removeM()">Remove a run</button>
                    <br>
                    <p id="UpdatedM">You don't have any runs yet.</p>
                    <p id="UpdatedMMiles">0 miles.</p>
                </div>
                <div class="col-sm">
                    <p style="font-size: 30px"> Tuesday </p>
                    <select name="tuesday" id="Tuesday">
                        <option value=" 0.5">Half Mile</option>
                        <option value=" 1">One Mile</option>
                        <option value=" 2">Two Mile</option>
                        <option value=" 3.1">5K</option>
                        <option value=" 6.2">10K</option>
                        <option value=" 10">Ten Mile</option>
                        <option value=" 13.1">Half Marathon</option>
                        <option value=" 26.2">Marathon</option>
                    </select>
                    <button onclick="addT()">Add a run</button>
                    <button onclick="removeT()">Remove a run</button>
                    <br>
                    <p id="UpdatedT">You don't have any runs yet.</p>
                    <p id="UpdatedTMiles">0 miles.</p>
                </div>
                <div class="col-sm">
                    <p style="font-size: 30px"> Wednesday </p>
                    <select name="wednesday" id="Wednesday">
                        <option value=" 0.5">Half Mile</option>
                        <option value=" 1">One Mile</option>
                        <option value=" 2">Two Mile</option>
                        <option value=" 3.1">5K</option>
                        <option value=" 6.2">10K</option>
                        <option value=" 10">Ten Mile</option>
                        <option value=" 13.1">Half Marathon</option>
                        <option value=" 26.2">Marathon</option>
                    </select>
                    <button onclick="addW()">Add a run</button>
                    <button onclick="removeW()">Remove a run</button>
                    <br>
                    <p id="UpdatedW">You don't have any runs yet.</p>
                    <p id="UpdatedWMiles">0 miles.</p>
                </div>
                <div class="col-sm">
                    <p style="font-size: 30px"> Thursday </p>
                    <select name="thursday" id="Thursday">
                        <option value=" 0.5">Half Mile</option>
                        <option value=" 1">One Mile</option>
                        <option value=" 2">Two Mile</option>
                        <option value=" 3.1">5K</option>
                        <option value=" 6.2">10K</option>
                        <option value=" 10">Ten Mile</option>
                        <option value=" 13.1">Half Marathon</option>
                        <option value=" 26.2">Marathon</option>
                    </select>
                    <button onclick="addTh()">Add a run</button>
                    <button onclick="removeTh()">Remove a run</button>
                    <br>
                    <p id="UpdatedTh">You don't have any runs yet.</p>
                    <p id="UpdatedThMiles">0 miles.</p>
                </div>
                <div class="col-sm">
                    <p style="font-size: 30px"> Friday </p>
                    <select name="friday" id="Friday">
                        <option value=" 0.5">Half Mile</option>
                        <option value=" 1">One Mile</option>
                        <option value=" 2">Two Mile</option>
                        <option value=" 3.1">5K</option>
                        <option value=" 6.2">10K</option>
                        <option value=" 10">Ten Mile</option>
                        <option value=" 13.1">Half Marathon</option>
                        <option value=" 26.2">Marathon</option>
                    </select>
                    <button onclick="addF()">Add a run</button>
                    <button onclick="removeF()">Remove a run</button>
                    <br>
                     <p id="UpdatedF">You don't have any runs yet.</p>
                     <p id="UpdatedFMiles">0 miles.</p>
                </div>
                <div class="col-sm">
                    <p style="font-size: 30px"> Saturday </p>
                    <select name="saturday" id="Saturday">
                        <option value=" 0.5">Half Mile</option>
                        <option value=" 1">One Mile</option>
                        <option value=" 2">Two Mile</option>
                        <option value=" 3.1">5K</option>
                        <option value=" 6.2">10K</option>
                        <option value=" 10">Ten Mile</option>
                        <option value=" 13.1">Half Marathon</option>
                        <option value=" 26.2">Marathon</option>
                    </select>
                    <button onclick="addS()">Add a run</button>
                    <button onclick="removeS()">Remove a run</button>
                    <br>
                    <p id="UpdatedS">You don't have any runs yet.</p>
                    <p id="UpdatedSMiles">0 miles.</p>
                </div>
                <div class="col-sm">
                    <p style="font-size: 30px"> Sunday </p>
                    <select name="sunday" id="Sunday">
                        <option value=" 0.5">Half Mile</option>
                        <option value=" 1">One Mile</option>
                        <option value=" 2">Two Mile</option>
                        <option value=" 3.1">5K</option>
                        <option value=" 6.2">10K</option>
                        <option value=" 10">Ten Mile</option>
                        <option value=" 13.1">Half Marathon</option>
                        <option value=" 26.2">Marathon</option>
                    </select>
                    <button onclick="addSu()">Add a run</button>
                    <button onclick="removeSu()">Remove a run</button>
                    <br>
                    <p id="UpdatedSu">You don't have any runs yet.</p>
                    <p id="UpdatedSuMiles">0 miles.</p>
                </div>
                <h4 id="addedMiles">Your total miles ran for this week is nothing because you haven't selected any runs yet.</h4>
            </div>
        </div>
    </body>
<script>
    const listM = [];
    const listT = [];
    const listW = [];
    const listTh = [];
    const listF = [];
    const listS = [];
    const listSu = [];
    const miles = " miles.";
    const TMilesdisplaylow = " is your total miles run this week. Run faster! You're below the recommended 15 miles per week.";
    const TMilesdisplaymedium = " is your total miles ran this week. You're right in the perfect range.";
    const TMilesdisplayhigh = " is your total miles ran this week. Don't you think that's a little much? You might injure yourself, but if you're an expert, continue what you're doing.";
    let MMiles = 0;
    var TMiles = 0
    var WMiles = 0
    var ThMiles = 0
    var FMiles = 0
    var SMiles = 0
    var SuMiles = 0
    var TotalMiles = 0
    var tempDelMiles = "nada"
    var MLength = listM.length
    var TLength = listT.length
    var WLength = listW.length
    var ThLength = listTh.length
    var FLength = listF.length
    var SLength = listS.length
    var SuLength = listSu.length

    function upM() {
        document.getElementById("UpdatedM").innerHTML = listM;
        if (listM[MLength] === " 0.5") {
            MMiles = MMiles + 0.5
            document.getElementById("UpdatedM").innerHTML = MMiles + miles
        }
        if (listM[MLength] === " 1") {
            MMiles = MMiles + 1
            document.getElementById("UpdatedM").innerHTML = MMiles + miles
        }
        if (listM[MLength] === " 2") {
            MMiles = MMiles + 2
            document.getElementById("UpdatedM").innerHTML = MMiles + miles
        }
        if (listM[MLength] === " 3.1") {
            MMiles = MMiles + 3.1
            document.getElementById("UpdatedM").innerHTML = MMiles + miles
        }
        if (listM[MLength] === " 6.2") {
            MMiles = MMiles + 6.2
            document.getElementById("UpdatedM").innerHTML = MMiles + miles
        }
        if (listM[MLength] === " 10") {
            MMiles = MMiles + 10
            document.getElementById("UpdatedM").innerHTML = MMiles + miles
        }
        if (listM[MLength] === " 13.1") {
            MMiles = MMiles + 13.1
            document.getElementById("UpdatedM").innerHTML = MMiles + miles
        }
        if (listM[MLength] === " 26.2") {
            MMiles = MMiles + 26.2
            document.getElementById("UpdatedM").innerHTML = MMiles + miles
        }
        addAllMiles();
    }

    function upT() {
        document.getElementById("UpdatedT").innerHTML = listT;
        if (listT[TLength] === " 0.5") {
            TMiles = TMiles + 0.5
            document.getElementById("UpdatedT").innerHTML = TMiles + miles
        }
        if (listT[TLength] === " 1") {
            TMiles = TMiles + 1
            document.getElementById("UpdatedT").innerHTML = TMiles + miles
        }
        if (listT[TLength] === " 2") {
            TMiles = TMiles + 2
            document.getElementById("UpdatedT").innerHTML = TMiles + miles
        }
        if (listT[TLength] === " 3.1") {
            TMiles = TMiles + 3.1
            document.getElementById("UpdatedT").innerHTML = TMiles + miles
        }
        if (listT[TLength] === " 6.2") {
            TMiles = TMiles + 6.2
            document.getElementById("UpdatedT").innerHTML = TMiles + miles
        }
        if (listT[TLength] === " 10") {
            TMiles = TMiles + 10
            document.getElementById("UpdatedT").innerHTML = TMiles + miles
        }
        if (listT[TLength] === " 13.1") {
            TMiles = TMiles + 13.1
            document.getElementById("UpdatedT").innerHTML = TMiles + miles
        }
        if (listT[TLength] === " 26.2") {
            TMiles = TMiles + 26.2
            document.getElementById("UpdatedT").innerHTML = TMiles + miles
        }
        addAllMiles();
    }

    function upW() {
        document.getElementById("UpdatedW").innerHTML = listW;
        if (listW[WLength] === " 0.5") {
            WMiles = WMiles + 0.5
            document.getElementById("UpdatedW").innerHTML = WMiles + miles
        }
        if (listW[WLength] === " 1") {
            WMiles = WMiles + 1
            document.getElementById("UpdatedW").innerHTML = WMiles + miles
        }
        if (listW[WLength] === " 2") {
            WMiles = WMiles + 2
            document.getElementById("UpdatedW").innerHTML = WMiles + miles
        }
        if (listW[WLength] === " 3.1") {
            WMiles = WMiles + 3.1
            document.getElementById("UpdatedW").innerHTML = WMiles + miles
        }
        if (listW[WLength] === " 6.2") {
            WMiles = WMiles + 6.2
            document.getElementById("UpdatedW").innerHTML = WMiles + miles
        }
        if (listW[WLength] === " 10") {
            WMiles = WMiles + 10
            document.getElementById("UpdatedW").innerHTML = WMiles + miles
        }
        if (listW[WLength] === " 13.1") {
            WMiles = WMiles + 13.1
            document.getElementById("UpdatedW").innerHTML = WMiles + miles
        }
        if (listW[WLength] === " 26.2") {
            WMiles = WMiles + 26.2
            document.getElementById("UpdatedW").innerHTML = WMiles + miles
        }
        addAllMiles();
    }

    function upTh() {
        document.getElementById("UpdatedTh").innerHTML = listTh;
        if (listTh[ThLength] === " 0.5") {
            ThMiles = ThMiles + 0.5
            document.getElementById("UpdatedTh").innerHTML = ThMiles + miles
        }
        if (listTh[ThLength] === " 1") {
            ThMiles = ThMiles + 1
            document.getElementById("UpdatedTh").innerHTML = ThMiles + miles
        }
        if (listTh[ThLength] === " 2") {
            ThMiles = ThMiles + 2
            document.getElementById("UpdatedTh").innerHTML = ThMiles + miles
        }
        if (listTh[ThLength] === " 3.1") {
            ThMiles = ThMiles + 3.1
            document.getElementById("UpdatedTh").innerHTML = ThMiles + miles
        }
        if (listTh[ThLength] === " 6.2") {
            ThMiles = ThMiles + 6.2
            document.getElementById("UpdatedTh").innerHTML = ThMiles + miles
        }
        if (listTh[ThLength] === " 10") {
            ThMiles = ThMiles + 10
            document.getElementById("UpdatedTh").innerHTML = ThMiles + miles
        }
        if (listTh[ThLength] === " 13.1") {
            ThMiles = ThMiles + 13.1
            document.getElementById("UpdatedTh").innerHTML = ThMiles + miles
        }
        if (listTh[ThLength] === " 26.2") {
            ThMiles = ThMiles + 26.2
            document.getElementById("UpdatedTh").innerHTML = ThMiles + miles
        }
        addAllMiles();
    }

    function upF() {
        document.getElementById("UpdatedF").innerHTML = listF;
        if (listF[FLength] === " 0.5") {
            FMiles = FMiles + 0.5
            document.getElementById("UpdatedF").innerHTML = FMiles + miles
        }
        if (listF[FLength] === " 1") {
            FMiles = FMiles + 1
            document.getElementById("UpdatedF").innerHTML = FMiles + miles
        }
        if (listF[FLength] === " 2") {
            FMiles = FMiles + 2
            document.getElementById("UpdatedF").innerHTML = FMiles + miles
        }
        if (listF[FLength] === " 3.1") {
            FMiles = FMiles + 3.1
            document.getElementById("UpdatedF").innerHTML = FMiles + miles
        }
        if (listF[FLength] === " 6.2") {
            FMiles = FMiles + 6.2
            document.getElementById("UpdatedF").innerHTML = FMiles + miles
        }
        if (listF[FLength] === " 10") {
            FMiles = FMiles + 10
            document.getElementById("UpdatedF").innerHTML = FMiles + miles
        }
        if (listF[FLength] === " 13.1") {
            FMiles = FMiles + 13.1
            document.getElementById("UpdatedF").innerHTML = FMiles + miles
        }
        if (listF[FLength] === " 26.2") {
            FMiles = FMiles + 26.2
            document.getElementById("UpdatedF").innerHTML = FMiles + miles
        }
        addAllMiles();
    }

    function upS() {
        document.getElementById("UpdatedS").innerHTML = listS;
        if (listS[SLength] === " 0.5") {
            SMiles = SMiles + 0.5
            document.getElementById("UpdatedS").innerHTML = SMiles + miles
        }
        if (listS[SLength] === " 1") {
            SMiles = SMiles + 1
            document.getElementById("UpdatedS").innerHTML = SMiles + miles
        }
        if (listS[SLength] === " 2") {
            SMiles = SMiles + 2
            document.getElementById("UpdatedS").innerHTML = SMiles + miles
        }
        if (listS[SLength] === " 3.1") {
            SMiles = SMiles + 3.1
            document.getElementById("UpdatedS").innerHTML = SMiles + miles
        }
        if (listS[SLength] === " 6.2") {
            SMiles = SMiles + 6.2
            document.getElementById("UpdatedS").innerHTML = SMiles + miles
        }
        if (listS[SLength] === " 10") {
            SMiles = SMiles + 10
            document.getElementById("UpdatedS").innerHTML = SMiles + miles
        }
        if (listS[SLength] === " 13.1") {
            SMiles = SMiles + 13.1
            document.getElementById("UpdatedS").innerHTML = SMiles + miles
        }
        if (listS[SLength] === " 26.2") {
            SMiles = SMiles + 26.2
            document.getElementById("UpdatedS").innerHTML = SMiles + miles
        }
        addAllMiles();
    }

    function upSu() {
        document.getElementById("UpdatedSu").innerHTML = listSu;
        if (listSu[SuLength] === " 0.5") {
            SuMiles = SuMiles + 0.5
            document.getElementById("UpdatedSu").innerHTML = SuMiles + miles
        }
        if (listSu[SuLength] === " 1") {
            SuMiles = SuMiles + 1
            document.getElementById("UpdatedSu").innerHTML = SuMiles + miles
        }
        if (listSu[SuLength] === " 2") {
            SuMiles = SuMiles + 2
            document.getElementById("UpdatedSu").innerHTML = SuMiles + miles
        }
        if (listSu[SuLength] === " 3.1") {
            SuMiles = SuMiles + 3.1
            document.getElementById("UpdatedSu").innerHTML = SuMiles + miles
        }
        if (listSu[SuLength] === " 6.2") {
            SuMiles = SuMiles + 6.2
            document.getElementById("UpdatedSu").innerHTML = SuMiles + miles
        }
        if (listSu[SuLength] === " 10") {
            SuMiles = SuMiles + 10
            document.getElementById("UpdatedSu").innerHTML = SuMiles + miles
        }
        if (listSu[SuLength] === " 13.1") {
            SuMiles = SuMiles + 13.1
            document.getElementById("UpdatedSu").innerHTML = SuMiles + miles
        }
        if (listSu[SuLength] === " 26.2") {
            SuMiles = SuMiles + 26.2
            document.getElementById("UpdatedSu").innerHTML = SuMiles + miles
        }
        addAllMiles();
    }

    function removeM() {
        tempDelMiles = listM[MLength - 1]
        listM.pop();
        upM();
        MLength = listM.length
        if (tempDelMiles === " 0.5") {
            MMiles = MMiles - 0.5
            document.getElementById("UpdatedMMiles").innerHTML = MMiles + miles
        }
        if (tempDelMiles === " 1") {
            MMiles = MMiles - 1
            document.getElementById("UpdatedMMiles").innerHTML = MMiles + miles
        }
        if (tempDelMiles === " 2") {
            MMiles = MMiles - 2
            document.getElementById("UpdatedMMiles").innerHTML = MMiles + miles
        }
        if (tempDelMiles === " 3.1") {
            MMiles = MMiles - 3.1
            document.getElementById("UpdatedMMiles").innerHTML = MMiles + miles
        }
        if (tempDelMiles === " 6.2") {
            MMiles = MMiles - 6.2
            document.getElementById("UpdatedMMiles").innerHTML = MMiles + miles
        }
        if (tempDelMiles === " 10") {
            MMiles = MMiles - 10
            document.getElementById("UpdatedMMiles").innerHTML = MMiles + miles
        }
        if (tempDelMiles === " 13.1") {
            MMiles = MMiles - 13.1
            document.getElementById("UpdatedMMiles").innerHTML = MMiles + miles
        }
        if (tempDelMiles === " 26.2") {
            MMiles = MMiles - 26.2
            document.getElementById("UpdatedMMiles").innerHTML = MMiles + miles
        }
        addAllMiles();
    }

    function removeT() {
        tempDelMiles = listT[TLength - 1]
        listT.pop();
        upT();
        TLength = listT.length
        if (tempDelMiles === " 0.5") {
            TMiles = TMiles - 0.5
            document.getElementById("UpdatedTMiles").innerHTML = TMiles + miles
        }
        if (tempDelMiles === " 1") {
            TMiles = TMiles - 1
            document.getElementById("UpdatedTMiles").innerHTML = TMiles + miles
        }
        if (tempDelMiles === " 2") {
            TMiles = TMiles - 2
            document.getElementById("UpdatedTMiles").innerHTML = TMiles + miles
        }
        if (tempDelMiles === " 3.1") {
            TMiles = TMiles - 3.1
            document.getElementById("UpdatedTMiles").innerHTML = TMiles + miles
        }
        if (tempDelMiles === " 6.2") {
            TMiles = TMiles - 6.2
            document.getElementById("UpdatedTMiles").innerHTML = TMiles + miles
        }
        if (tempDelMiles === " 10") {
            TMiles = TMiles - 10
            document.getElementById("UpdatedTMiles").innerHTML = TMiles + miles
        }
        if (tempDelMiles === " 13.1") {
            TMiles = TMiles - 13.1
            document.getElementById("UpdatedTMiles").innerHTML = TMiles + miles
        }
        if (tempDelMiles === " 26.2") {
            TMiles = TMiles - 26.2
            document.getElementById("UpdatedTMiles").innerHTML = TMiles + miles
        }
        addAllMiles();
    }

    function removeW() {
        tempDelMiles = listW[WLength - 1]
        listW.pop();
        upW();
        WLength = listW.length
        if (tempDelMiles === " 0.5") {
            WMiles = WMiles - 0.5
            document.getElementById("UpdatedWMiles").innerHTML = WMiles + miles
        }
        if (tempDelMiles === " 1") {
            WMiles = WMiles - 1
            document.getElementById("UpdatedWMiles").innerHTML = WMiles + miles
        }
        if (tempDelMiles === " 2") {
            WMiles = WMiles - 2
            document.getElementById("UpdatedWMiles").innerHTML = WMiles + miles
        }
        if (tempDelMiles === " 3.1") {
            WMiles = WMiles - 3.1
            document.getElementById("UpdatedWMiles").innerHTML = WMiles + miles
        }
        if (tempDelMiles === " 6.2") {
            WMiles = WMiles - 6.2
            document.getElementById("UpdatedWMiles").innerHTML = WMiles + miles
        }
        if (tempDelMiles === " 10") {
            WMiles = WMiles - 10
            document.getElementById("UpdatedWMiles").innerHTML = WMiles + miles
        }
        if (tempDelMiles === " 13.1") {
            WMiles = WMiles - 13.1
            document.getElementById("UpdatedWMiles").innerHTML = WMiles + miles
        }
        if (tempDelMiles === " 26.2") {
            WMiles = WMiles - 26.2
            document.getElementById("UpdatedWMiles").innerHTML = WMiles + miles
        }
        addAllMiles();
    }

    function removeTh() {
        tempDelMiles = listTh[ThLength - 1]
        listTh.pop();
        upTh();
        ThLength = listTh.length
        if (tempDelMiles === " 0.5") {
            ThMiles = ThMiles - 0.5
            document.getElementById("UpdatedThMiles").innerHTML = ThMiles + miles
        }
        if (tempDelMiles === " 1") {
            ThMiles = ThMiles - 1
            document.getElementById("UpdatedThMiles").innerHTML = ThMiles + miles
        }
        if (tempDelMiles === " 2") {
            ThMiles = ThMiles - 2
            document.getElementById("UpdatedThMiles").innerHTML = ThMiles + miles
        }
        if (tempDelMiles === " 3.1") {
            ThMiles = ThMiles - 3.1
            document.getElementById("UpdatedThMiles").innerHTML = ThMiles + miles
        }
        if (tempDelMiles === " 6.2") {
            ThMiles = ThMiles - 6.2
            document.getElementById("UpdatedThMiles").innerHTML = ThMiles + miles
        }
        if (tempDelMiles === " 10") {
            ThMiles = ThMiles - 10
            document.getElementById("UpdatedThMiles").innerHTML = ThMiles + miles
        }
        if (tempDelMiles === " 13.1") {
            ThMiles = ThMiles - 13.1
            document.getElementById("UpdatedThMiles").innerHTML = ThMiles + miles
        }
        if (tempDelMiles === " 26.2") {
            ThMiles = ThMiles - 26.2
            document.getElementById("UpdatedThMiles").innerHTML = ThMiles + miles
        }
        addAllMiles();
    }

    function removeF() {
        tempDelMiles = listF[FLength - 1]
        listF.pop();
        upF();
        FLength = listF.length
        if (tempDelMiles === " 0.5") {
            FMiles = FMiles - 0.5
            document.getElementById("UpdatedFMiles").innerHTML = FMiles + miles
        }
        if (tempDelMiles === " 0.5") {
            FMiles = FMiles - 0.5
            document.getElementById("UpdatedFMiles").innerHTML = FMiles + miles
        }
        if (tempDelMiles === " 1") {
            FMiles = FMiles - 1
            document.getElementById("UpdatedFMiles").innerHTML = FMiles + miles
        }
        if (tempDelMiles === " 2") {
            FMiles = FMiles - 2
            document.getElementById("UpdatedFMiles").innerHTML = FMiles + miles
        }
        if (tempDelMiles === " 3.1") {
            FMiles = FMiles - 3.1
            document.getElementById("UpdatedFMiles").innerHTML = FMiles + miles
        }
        if (tempDelMiles === " 6.2") {
            FMiles = FMiles - 6.2
            document.getElementById("UpdatedFMiles").innerHTML = FMiles + miles
        }
        if (tempDelMiles === " 10") {
            FMiles = FMiles - 10
            document.getElementById("UpdatedFMiles").innerHTML = FMiles + miles
        }
        if (tempDelMiles === " 13.1") {
            FMiles = FMiles - 13.1
            document.getElementById("UpdatedFMiles").innerHTML = FMiles + miles
        }
        if (tempDelMiles === " 26.2") {
            FMiles = FMiles - 26.2
            document.getElementById("UpdatedFMiles").innerHTML = FMiles + miles
        }
        addAllMiles();
    }

    function removeS() {
        tempDelMiles = listS[SLength - 1]
        listS.pop();
        upS();
        SLength = listS.length
        if (tempDelMiles === " 0.5") {
            SMiles = SMiles - 0.5
            document.getElementById("UpdatedSMiles").innerHTML = SMiles + miles
        }
        if (tempDelMiles === " 1") {
            SMiles = SMiles - 1
            document.getElementById("UpdatedSMiles").innerHTML = SMiles + miles
        }
        if (tempDelMiles === " 2") {
            SMiles = SMiles - 2
            document.getElementById("UpdatedSMiles").innerHTML = SMiles + miles
        }
        if (tempDelMiles === " 3.1") {
            SMiles = SMiles - 3.1
            document.getElementById("UpdatedSMiles").innerHTML = SMiles + miles
        }
        if (tempDelMiles === " 6.2") {
            SMiles = SMiles - 6.2
            document.getElementById("UpdatedSMiles").innerHTML = SMiles + miles
        }
        if (tempDelMiles === " 10") {
            SMiles = SMiles - 10
            document.getElementById("UpdatedSMiles").innerHTML = SMiles + miles
        }
        if (tempDelMiles === " 13.1") {
            SMiles = SMiles - 13.1
            document.getElementById("UpdatedSMiles").innerHTML = SMiles + miles
        }
        if (tempDelMiles === " 26.2") {
            SMiles = SMiles - 26.2
            document.getElementById("UpdatedSMiles").innerHTML = SMiles + miles
        }
        addAllMiles();
    }

    function removeSu() {
        tempDelMiles = listSu[SuLength - 1]
        listSu.pop();
        upSu();
        SuLength = listSu.length
        if (tempDelMiles === " 0.5") {
            SuMiles = SuMiles - 0.5
            document.getElementById("UpdatedSuMiles").innerHTML = SuMiles + miles
        }
        if (tempDelMiles === " 1") {
            SuMiles = SuMiles - 1
            document.getElementById("UpdatedSuMiles").innerHTML = SuMiles + miles
        }
        if (tempDelMiles === " 2") {
            SuMiles = SuMiles - 2
            document.getElementById("UpdatedSuMiles").innerHTML = SuMiles + miles
        }
        if (tempDelMiles === " 3.1") {
            SuMiles = SuMiles - 3.1
            document.getElementById("UpdatedSuMiles").innerHTML = SuMiles + miles
        }
        if (tempDelMiles === " 6.2") {
            SuMiles = SuMiles - 6.2
            document.getElementById("UpdatedSuMiles").innerHTML = SuMiles + miles
        }
        if (tempDelMiles === " 10") {
            SuMiles = SuMiles - 10
            document.getElementById("UpdatedSuMiles").innerHTML = SuMiles + miles
        }
        if (tempDelMiles === " 13.1") {
            SuMiles = SuMiles - 13.1
            document.getElementById("UpdatedSuMiles").innerHTML = SuMiles + miles
        }
        if (tempDelMiles === " 26.2") {
            SuMiles = SuMiles - 26.2
            document.getElementById("UpdatedSuMiles").innerHTML = SuMiles + miles
        }
        addAllMiles();
    }

    function addM() {
        listM.push(document.getElementById("Monday").value);
        upM();
        MLength = listM.length
    }

    function addT() {
        listT.push(document.getElementById("Tuesday").value);
        upT();
        TLength = listT.length
    }

    function addW() {
        listW.push(document.getElementById("Wednesday").value);
        upW();
        WLength = listW.length
    }

    function addTh() {
        listTh.push(document.getElementById("Thursday").value);
        upTh();
        ThLength = listTh.length
    }

    function addF() {
        listF.push(document.getElementById("Friday").value);
        upF();
        FLength = listF.length
    }

    function addS() {
        listS.push(document.getElementById("Saturday").value);
        upS();
        SLength = listS.length
    }

    function addSu() {
        listSu.push(document.getElementById("Sunday").value);
        upSu();
        SuLength = listSu.length
    }

    function addAllMiles() {
        TotalMiles = MMiles + TMiles + WMiles + ThMiles + FMiles + SMiles + SuMiles
        if (TotalMiles <15)
            document.getElementById("addedMiles").innerHTML = TotalMiles + TMilesdisplaylow
        if (TotalMiles <=15 & TotalMiles >=30)
            document.getElementById("addedMiles").innerHTML = TotalMiles + TMilesdisplaymedium
        if (TotalMiles >30)
            document.getElementById("addedMiles").innerHTML = TotalMiles + TMilesdisplayhigh
    }

</script>
</html>
